:root {
  --c-grey-light: #f8f8f8;
  --c-grey: #f8f8f8;
  --c-blue-deep: #3c3d75;
  --c-blue-deep-darken: #33386f;
  --c-blue-deep-dark: #333570;
  --c-blue-light: #e9edf8;
  --c-blue-sky: #edf0f8;
  --c-blue-sky-old: #abd8fd;
  --c-red: #f66;
  --c-pink: #ff9090;
  --c-aqua-light: #abdde9;
  --c-aqua: #6cb2c3;
}
